<div class="table-responsive" id="week-schedule">
    <table class="table table-hover table-bordered">
        <thead>
            <th class="schedule-cell">Time / Day</th>
            <th>SomeDay</th>
        </thead>
        <tbody>
            <tr>
                <td class="schedule-cell" id="time"
                    value="valTime" ng-click="handleTime($event)">18:00 - 19:00</td>
                <td id="status" value="valStatus">Occupied</td>
            </tr>
            <tr>
                <td class="schedule-cell" ng-click="handleTime($event)">19:00 - 20:00</td>
                <td>Free</td>
            </tr>
            <tr>
                <td class="schedule-cell" ng-click="handleTime($event)">20:00 - 21:00</td>
                <td>Free</td>
            </tr>
            <tr>
                <td class="schedule-cell" ng-click="handleTime($event)">21:00 - 22:00</td>
                <td>Free</td>
            </tr>
            <tr>
                <td class="schedule-cell" ng-click="handleTime($event)">22:00 - 23:00</td>
                <td>Free</td>
            </tr>
        </tbody>
    </table>
</div>
