<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="btn-group btn-group-lg">
            <button type="button" id="showAll"
                class="btn btn-info"
                ng-click="">Show All</button>
            <button type="button" id="showRecommended"
                class="btn btn-warning"
                ng-click="">Show Recommended</button>
            <button type="button" id="showTrending"
                class="btn btn-success"
                ng-click="">Show Trending</button>
        </div>
    </div>
</div>
